config.json
.idea/vcs.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/to-the-moon.iml
.vscode/launch.json
discord.log
watchlist.txt
watchlist.txt
__pycache__/utils.cpython-37.pyc
watchlist.txt
